*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS transitions allows you to change property values smoothly, over a given duration. */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #316B83;
    transition: 0.3s;
}

/* The :active CSS pseudo-class represents an element (such as a button) that is being activated by the user. When using a mouse, "activation" typically starts when the user presses down the primary mouse button.Sep 26, 2022 */
body.active {
    background: #b5deff;
}

#toggle {
    position: relative;
    width: 30vmin;
    height: 15vmin;
    background: #1E3163;
    border-radius: 50vmin;
    cursor: pointer;
}

#toggle.active {
    background: #fd6f96;
}

#toggle .switch {
    position: absolute;
    top: 0;
    left: 0;
    width: 15vmin;
    height: 15vmin;
    background: #ff0000;
    border: 0.5vmin solid #000;
    border-radius: 50%;
    transform: scale(0.9);
    transition: 0.8s;
}

/* box-shadow can have inset to give the inside a shadow */
.switch::before {
    content: "";
    position: absolute;
    bottom: -0.3vmin;
    left: -0.3vmin;
    background: #fff;
    width: 14.0vmin;
    height: 7.5vmin;
    border: 0.5vmin solid #000;
    border-bottom-left-radius: 30vmin;
    border-bottom-right-radius: 30vmin;
    box-shadow: inset 1vmin -1vmin 1vmin #7F7C82;
}

.switch::after {
    content: "";
    position: absolute;
    top: 4.6vmin;
    left: 4.6vmin;
    width: 5vmin;
    height: 5vmin;
    background: #fff;
    border: 0.5vmin solid #000;
    border-radius: 50%;
    /* creates a highlight outside of the after on the ball */
    box-shadow: -4vmin -4vmin 0 -1vmin #fff;
}

#toggle.active .switch {
    left: 15vmin;
    background: #ff0000;
    transform: scale(0.9) rotate(180deg);
    transition: 0.8s;
}